<div class="jumbotron mt-4">
  <h1 class="display-4">Notes-App 💡</h1>
  <p class="lead">Manage your notes, this app is built with Express.js and allows you to sign up to manage the notes you create.</p>
  <hr class="my-4">
  {{#if user}}
  <a class="btn btn-primary btn-lg" href="/notes" role="button">Your notes</a>
  {{else}}
  <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Create account</a>
  {{/if}}
</div>